<!DOCTYPE html PUBLIC >
     <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<html lang="de">
<head>
   <%- include /partials/head %>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body class="container">

    <header>
        <%- include /partials/header  %>
    </header>

    <main>
        <div class="jumbotron">
          <%-body -%>
        </div>
    </main>

    <footer>
        <%- include /partials/footer %>
    </footer>

</body>
</html>
