<% layout('layout') -%>

  <script type="text/javascript" src="http://localhost:3001/faye/client.js">  </script>
  <script>

  var client = new Faye.Client("http://localhost:3001/faye/");

  var subscription = client.subscribe('/news', function(message){
    var div = document.getElementById('messages');
    div.innerHTML +='<p>'+ message.name + '<br>' + message.post +'</p>';

  });


  </script>

  <div id="messages"> </div>
